<h1><%= @restaurant.name %></h1>
<ul>
  <li><strong>Address:</strong>  <%= @restaurant.address %></li>
  <li><strong>Phone Number:</strong>  <%= @restaurant.phone_number %></li>
  <li><strong>Cuisine:</strong>  <%= @restaurant.category.capitalize %></li>
</ul>
<%= link_to 'Back', restaurants_path, class: "btn btn-danger btn-sm py-0"%>
<%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary btn-sm py-0"%>
<p class="my-4"><strong>Reviews</strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <strong><%= review.rating %>/5</strong> - <%= review.content %></li>
    <br>
  <% end %>
</ul>
